{% load static %}
<!DOCTYPE html>
<title>
  {% block title %}
  مركز التفوق | الرئيسيه
  {% endblock title %}
</title>
{% block head %}
  {% include './compindex/head.html' %}
  {% block spstyle %}
    
  {% endblock spstyle %}
{% endblock head %}
</head>
<body>
    {% block nav %}
      {% include './compindex/nav.html' %}
    {% endblock nav %}
    <div class="container">
      {% if user.is_staff %} 
        {% block test %} <h1 class="alert alert-info">انت تشاهد وضع تجريبي كطالب </h1> {% endblock test %}
      {% endif %}
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="message alert alert-{{ message.tags }}" {% endif %} >{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% block main %}
      <header> 
        <h6>{% if user.is_staff %} {{user}} {% else %}  {{cuser}} {% endif %}</h6>
        <h1 class="ht">
          مرحبا بك يا  {% if user.is_staff %} {{user.first_name}} {% else %}  {{cuser.Sfname}} {% endif %}  في مركزنا التعليمي
        </h1>
      </header>
      {% if cats %}
        <main class="center"> 
          <div class="row">
            {% for cat in cats %}
              <a class="catlink col-md-3 me-auto ms-auto"  href="{% url 'home:lessons' cat.id %}">
                <div>
                  <h1 class="catname">{{ cat.name }}</h1>
                </div>
              </a>
            {% endfor %}
            </div>
        </main>
        {% else %}
          <h2 class="alert alert-info">لم يتم نشر اي محاضرات بعد</h2>
      {% endif %}
    {% endblock main %}
      <hr>
      <footer> 
        <div class="row justify-content-center me-auto"> 
          <div class="col-md-3 "> 
            <h2>عن التفوق</h2>
            <p>مركز التفوق التعليمي معنا انتم متفوقون دائماً </p>
          </div>
          <div class="links col-md-3 col-sm-5"> 
            <h2>الروابط</h2>
            <ul class="links-info"> 
              <li> <a href="#"><i class="bi bi-facebook"></i></a></li>
              <li> <a href="#"><i class="bi bi-youtube"></i></a></li>
              <li> <a href="#"><i class="bi bi-instagram"></i></a></li>

            </ul>
          </div>
          <div class="our col-md-3 col-sm-12"> 
            <h2>التواصل</h2>
            <ul> 
              <li> <a class="phone-link" href="#">0106098474 <i class="bi bi-phone-fill"></i> </a></li>
              <li> <a class="phone-link" href="#">0106098474 <i class="bi bi-telephone-fill"></i> </a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div id="sas"> 
          <h6>&copy; 2021 copyright for <a href="https://www.facebook.com/SASKE.Company" class="sac">SACODY</a> SASKE Company</h6>
        </div>
      </footer>
    </div>
      {% block script %}
      <script src="{% static './js/query.js' %}"> </script>
      <script src="{% static './scripts/index.js' %}"> </script>
      <script src="{% static './bootstrap-js/bootstrap.esm.min.js' %}"></script>
      <script src="{% static './bootstrap-js/bootstrap.min.js' %}"></script>
      {% endblock script %}
      {% block spscript  %}{% endblock spscript  %}
  </body>
</html>
