{% extends 'index.html' %}
{% load static %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning" dir="rtl">
      <div class="container-fluid"><a class="navbar-brand" href="#">&#x627;&#x644;&#x62A;&#x641;&#x648;&#x642;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">&#x627;&#x644;&#x631;&#x626;&#x64A;&#x633;&#x64A;&#x647;</a></li>
            <li class="nav-item"><a class="nav-link" href="#">&#x627;&#x644;&#x634;&#x631;&#x62D;</a></li>
            <li class="nav-item"><a class="nav-link" href="./homework.html">&#x627;&#x644;&#x648;&#x627;&#x62C;&#x628;&#x627;&#x62A;</a></li>
            <li class="nav-item"><a class="nav-link" href="#">&#x627;&#x644;&#x627;&#x645;&#x62A;&#x62D;&#x627;&#x646;&#x627;&#x62A;</a></li>
            <li class="nav-item"><a class="nav-link" href="#">&#x627;&#x644;&#x646;&#x62A;&#x627;&#x626;&#x62C;</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock nav %}
{% block test %}{% endblock test %}
{% block main %}
    <h2>تم تغيير كلمة المرور الخاصه بحسابك</h2>
    <a href="{% url 'home:home' %}" class="btn btn-outline-success">تسجيل الدخول مره أخري</a>
   
{% endblock main %}